@media (min-width: 320px)  {
  .tables {
    background-color: aliceblue;
    height: 50vh;
    width: 50wh;
    padding-top: 100px;
    position: center;
    margin-left: 200px;
    margin-right: 200px;
   }
}